.kyberbutton, .kyberbutton-white {
  /*   height: calc(4vw * var(--main-recipe-size));
      width: calc(15vw * var(--main-recipe-size)); */
  height: 50px;
  width: 200px;

  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;

  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;

  text-align: center;

  display: block;
  margin: auto;
}

.kyberbutton *, .kyberbutton-white * {
  padding-top: 12px;
}

.kyberbutton:disabled, .kyberbutton-white:disabled {
  color: gray;
}

.kyberbutton {
  background-image: url("/box.png");
  color: #1a1a1a;
}

.kyberbutton-white {
  background-image: url("/box-white.png");
  color: white;
}

.kyberbutton:hover, .kyberbutton-white:hover {
  transform: rotate(1deg) scale(1.02);
}

.kyberbutton-scaled {
  height: calc(4.5vw * var(--main-recipe-size));
  width: calc(20vw * var(--main-recipe-size));

  display: block;

  background-color: transparent;
  background-image: url("/box.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  font-size: calc(1.5vw * var(--main-recipe-size));
  font-weight: bold;
  font-family: inherit;
  color: #1a1a1a;
  cursor: pointer;

  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kyberbutton-scaled * {
  font-weight: bold;
  font-family: inherit;
  color: #1a1a1a;
}

.kyberbutton-scaled:hover {
  color: #1a1a1a;
  transform: rotate(1deg) scale(1.02);
}

.kyberbutton-scaled *:hover {
  color: #1a1a1a;
}

.delete-user {
  margin-left: auto;
  margin-right: 2%;
}