.search-settings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  
}

.search-select {
  min-width: 300px;
}

.search-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search-div > * {
  margin: 5px 10px;
  font-size: 24px;
  font-family: KyberFontSimple;
}

.search-div input {
  background-color: white;
  color: #1a1a1a;
  border: none;
  padding: 3px;
}