.search-settings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.grid-div {
  display: grid;
  grid-template-columns: auto auto;
}

/* .search-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

.search-settings * {
  font-size: 24px;
  font-family: KyberFontSimple;
}

.grid-div > * {
  margin: 5px 10px;
} 

.search-page label {
  justify-self: right;
  margin: auto 0;
}

.search-page input[type=text] {
  background-color: white;
  color: #1a1a1a;
  border: none;
  padding: 5px;

  justify-self: left;
  min-width: 340px;


}

.search-select {
  justify-self: left;
  min-width: 350px;
}

.search-settings fieldset {
  margin: auto;
  max-width: 90vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.search-settings fieldset > * {
  margin-right: 10px;
} 


@media only screen and (max-width: 800px) {
  .grid-div {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .search-page input[type=text] {
    min-width: 250px;
  }

  .search-select {
    min-width: 250px;
  }
}