

.search-settings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.search-page form {
  display: grid;
  grid-template-columns: auto auto;
}

/* .search-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

.search-page form > * {
  margin: 5px 10px;
  font-size: 24px;
  font-family: KyberFontSimple;
} 

.search-page label {
  justify-self: right;
  margin: auto 0;
}

.search-page input {
  background-color: white;
  color: #1a1a1a;
  border: none;
  padding: 5px;

  justify-self: left;
  min-width: 340px;


}

.search-select {

  justify-self: left;
  min-width: 350px;

}

@media only screen and (max-width: 800px) {
  .search-page form {
    display: flex;
    flex-direction: column;
  }
}